@import "./reset.css";

/******************** 
Variables 
*********************/
:root {
  /* Primary Colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/*****************************
Mobile Styles - News Homepage
******************************/

/* Container Styles - 
Containers work to group semantically related elements together
for layout purposes.
*/

.main-container {
  width: 95%;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
}

.nav-links-lg-container {
  display: none;
}

.nav-links-sm-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 70%;
  background-color: #fff;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.nav-links-sm-container ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

.mid-article-container {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  margin-block: 2rem;
  padding: 1.5rem 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mid-article {
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding-bottom: 1rem;
}

.bottom-article-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
  margin-inline: auto;
}

.bottom-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-article-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 0.5rem;
  width: 100%;
}

.open {
  transform: translateX(0);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* Wrapper Styles - 
wrappers are purely presentational and do not 
add any semantic meaning to the content they wrap. */

.logo-wrapper {
  height: 40px;
}

.top-img-wrapper {
  width: clamp(350px, 80%, 800px);
  height: clamp(200px, 50vh, 600px);
  margin-inline: auto;
}

.logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom-img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}

.bottom-img-wrapper {
  height: 100%;
  width: fit-content;
}

/* Button Styles */
.btn {
  background: transparent;
  border: 0;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.read-btn {
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.read-btn a {
  color: var(--off-white);
}

.btn:hover {
  cursor: pointer;
}

/* Font Styles */
.top-title {
  font-size: 2.2rem;
  font-weight: 800;
}

.top-article-info {
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
}

.mid-main-title {
  color: var(--soft-orange);
}

.mid-article-title {
  font-size: 1.1rem;
}

.bottom-article-number {
  font-size: 2rem;
  font-weight: 800;
  color: var(--grayish-blue);
}

.bottom-article-title {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.mid-article-text {
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

.bottom-article-text {
  font-size: 0.8rem;
  color: var(--dark-grayish-blue);
}

@media (min-width: 768px) {
  .main-container {
    width: 70%;
  }

  .nav-links-lg-container {
    display: flex;
    gap: 1rem;
  }

  .nav-links-sm-container {
    display: none;
  }

  .hamburger-btn {
    display: none;
  }

  .top-img-wrapper {
    width: 100%;
    height: 100%;
  }

  .bottom-article-container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .main-container {
    width: 95%;
    height: max-content;
  }

  .content-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }

  .top-article-container {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    height: 60%;
    margin-top: 2rem;
  }

  .top-article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .mid-article-container {
    grid-column: 6 / 9;
    grid-row: 1 / 2;
    height: min-content;
  }

  .bottom-article-container {
    flex-direction: row;
    width: 100%;
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    height: min-content;
  }

  .top-title {
    font-size: 2.5rem;
    width: 40%;
  }

  .top-article-info-wrapper {
    padding-right: 2rem;
    width: 60%;
  }

  .top-article-info {
    font-size: 1rem;
    line-height: 1.5;
  }

  .mid-main-title {
    font-size: 2rem;
  }

  .read-btn {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }

  .bottom-img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .main-container {
    width: 90%;
  }

  .top-article-container {
    grid-column: 1 / 7;
  }

  .mid-article-container {
    grid-column: 7 / 9;
  }

  .bottom-article-container {
    margin-top: -4rem;
    width: 100%;
    justify-content: space-between;
  }

  .bottom-img {
    width: 130px;
    height: 130px;
  }

  .top-title {
    font-size: 2.8rem;
  }

  .top-article-info-wrapper {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }

  .bottom-article-info-wrapper {
    gap: 1rem;
  }
}
